/venv*/
*.code-workspace
.vscode/
*.egg-info/
.pytest_cache/
build/
htmlcov/
.coverage
.pylintrc
tmp/

*.pyc
*.bak
*.whl
__*
!__*__.py

objdictgen.new
objdictgen.mod
objdictgen.orig
mirror-canfestival-3-asc/
od-*/
runall*.sh
results-*.diff
