/venv*/
*.code-workspace
.vscode/
*.egg-info/
.pytest_cache/
build/
htmlcov/
.coverage
tmp*/
dist/

*.pyc
*.bak
*.whl
__*
!__*__.py
_tmp*

tests/od/extra-compare*
/*.od
/*.json

objdictgen.*
fw-can-shared
bug_report*.txt
*.idea
__pycache__
