/venv*/
*.code-workspace
.vscode/
*.egg-info/
build/

htmlcov/
.coverage
.pylintrc

objdictgen.new
objdictgen.mod
objdictgen.orig

*.pyc
*.bak
*.whl
__*
tmp/
objdictgen2/
mirror-canfestival-3-asc/
od-*

runall*.sh
results-*.diff
